.banner{
    background: var(--azuldegrade);
    color: var(--branco);
    text-align: center;
    padding: 3em 2em;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa{
    background-color: transparent;
    border: 1px solid var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 60%;
}

.banner__pesquisa::placeholder{
    font-family: var(--font-pribcipal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url(../img/Pesquisa.svg) no-repeat;
    background-position: 1em;
}